<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <!--Bootstrap CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- animate Css CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- Web Rtc CDN -->
    <script src="https://cdn.WebRTC-Experiment.com/MediaStreamRecorder.js"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <!-- Jquery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Developer Css File-->
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <!--Navbar-->
    <!-- ul/li was added for dropdown. text lowercase for sub menu -->
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="/assests/project-visibility.svg" title="Visibility Logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                    aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainNavbar">
                    <div class="navbar-nav text-uppercase ms-auto p-1">
                        <a class="nav-link <%= title === "home" ? "active": "" %>" aria-current="page" href="/">Home</a>
                        <a class="nav-link <%= title === "about" ? "active": "" %>" href="/about">About Nhai</a>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle <%= title === "programs" ? "active": "" %>" href="#"
                                id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">Programmes</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="programs/nationalhighway">National Highway
                                        Project</a></li>
                                <li><a class="dropdown-item" href="programs/legalArbitration">Legal and
                                        Arbitration</a></li>
                                <li><a class="dropdown-item" href="programs/environment">Environment</a></li>
                                <li><a class="dropdown-item" href="programs/projectInformation">Project Information</a>
                                </li>
                                <li><a class="dropdown-item" href="programs/roadsafety">Road Safety</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Road Networks</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Indian Networks</a></li>
                                <li><a class="dropdown-item" href="#">ROB details</a></li>
                                <li><a class="dropdown-item" href="#">Toll system</a></li>
                            </ul>
                        </li>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- Default Audio -->
    <audio src="/audio/default.mp3" class="d-none" id="initial-audio"></audio>
    <!-- Default form -->
    <form action="/" method="POST" id="express">
        <input type="hidden" value="success">
    </form>
    <!-- Audio Section Starts -->
    <div id="audios-container"></div>
    <%-body-%>
    <!--Bootstrap Combined Js file-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <!-- Typed.js cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.5/typed.min.js"
        integrity="sha512-1KbKusm/hAtkX5FScVR5G36wodIMnVd/aP04af06iyQTkD17szAMGNmxfNH+tEuFp3Og/P5G32L1qEC47CZbUQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Web Rtc CDN 2 -->
    <script src="https://cdn.webrtc-experiment.com/commits.js" async></script>
    <!-- Microphone permission -->
    <script src="/js/useraudio.js"></script>
    <!-- Developer Typed.js file -->
    <script src="/js/typed.js"></script>
    <!-- Developer Index.js file -->
    <script src="/js/index.js"></script>
</body>

</html>