<% layout('/layouts/boilerplate.ejs') %>
<!-- How to Use Information Section -->
<section class="container" id="howtouse-section">
    <section class="row mt-5">
        <section class="col-md-5 mt-5">
            <h2 class="animate__animated animate__bounceInLeft">HOW TO USE</h2>
            <p class="mt-2 animate__animated animate__bounceInRight">
                When the introduction audio stops, choose your desired option. The website would be redirected to that
                particular webpage, and its contents would be read aloud. After the contents of that page is over, you
                would again get the option to choose.
                If you choose the stop option, the program will stop, and you will have to double click on your screen
                to relaunch it.
                Note : Please wait for the audio to stop completely before saying anything.</p>
        </section>
        <section class="offset-md-2 col-md-5">
            <img src="/assests/howtouse.png" alt="howtouseQuotation" class="img-fluid">
        </section>
    </section>
</section>