<% layout('/layouts/boilerplate.ejs') %>
<!-- How to Use Information Section -->
<section class="container" id="howtouse-section">
    <section class="row mt-5">
        <section class="col-md-5 mt-5">
            <h2 class="animate__animated animate__bounceInLeft">HOW TO USE</h2>
            <ul class="animate__animated animate__bounceInRight">
                <li>Introductory audio plays at the beginning.</li>
                <li>Choose the desired option from the options list.</li>
                <li>Contents of the page will be read aloud</li>
                <li>Website too will be redirected</li>
                <li>Speak Stop to stop the website</li>
                <li>Double click anywhere on the screen to relaunch</li>
                <li>Speak only when entire audio stops</li>
            </ul>
        </section>
        <section class="offset-md-2 col-md-5">
            <img src="/assests/howtouse.png" alt="howtouseQuotation" class="img-fluid">
        </section>
    </section>
</section>