<% layout('/layouts/boilerplate.ejs') %>
<!-- Introduction Section Starts -->
<section class="container intro">
    <section class="row mt-5">
        <section class="col-md-4 offset-md-2 mx-auto mt-5">
            <h1 class="animate__animated animate__bounceInLeft">VISIBILITY</h1>
            <p class="animate__animated animate__bounceInRight">Visually Impaired Society improvement by including
                Language speech Input to eyed website </p>
            <p>i am into <span class="typing-text"></span></p>
        </section>
        <section class="col-md-6">
            <img src="/assests/blind.jpg" title="main image" class="img-fluid">
        </section>
    </section>
</section>
<!-- Introduction Section Ends -->