<% layout('/layouts/boilerplate.ejs') %>
<!-- Typed.js cdn -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.5/typed.min.js"
    integrity="sha512-1KbKusm/hAtkX5FScVR5G36wodIMnVd/aP04af06iyQTkD17szAMGNmxfNH+tEuFp3Og/P5G32L1qEC47CZbUQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Introduction Section Starts -->
<section class="container intro">
    <section class="row mt-5">
        <section class="col-md-4 offset-md-2 mx-auto mt-5">
            <h1 class="animate__animated animate__bounceInLeft">VISIBILITY</h1>
            <p class="animate__animated animate__bounceInRight">Visually Impaired Society improvement by including
                Language speech Input to eyed website </p>
            <p>We Believe in <span class="typing-text"></span></p>
        </section>
        <section class="col-md-6">
            <img src="/assests/blind.jpg" title="main image" class="img-fluid">
        </section>
    </section>
</section>
<!-- Developer Typed.js file -->
<script src="/js/typed.js"></script>
<!-- Introduction Section Ends -->