<% layout('/layouts/boilerplate.ejs') %>
<!-- Tab links -->
<div class="tab">
    <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">London</button>
    <button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
    <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
</div>

<!-- Tab content -->
<div id="London" class="tabcontent">
    <h3>London</h3>
    <a href="#">
        <p>London is the capital city of England.</p>
    </a>
</div>

<div id="Paris" class="tabcontent">
    <h3>Paris</h3>
    <a href="#">
        <p>Paris is the capital of France.</p>
    </a>
</div>

<div id="Tokyo" class="tabcontent">
    <h3>Tokyo</h3>
    <a href="#">
        <p>Tokyo is the capital of Japan.</p>
    </a>
</div>