<% layout('/layouts/boilerplate.ejs') %>
<!-- beneficiary Section Starts -->
<section class="container" id="aboutus-section">
    <section class="row mt-5">
        <section class="col-md-5 mt-5">
            <h2 class="animate__animated animate__bounceInLeft">Beneficiary</h2>
            <ul class="animate__animated animate__bounceInRight">
                <li>Visually Impaired</li>
                <li>Government</li>
                <li>Normal user</li>
            </ul>
        </section>
        <section class="offset-md-2 col-md-5">
            <img src="/assests/aboutus.jpg" alt="aboutusimage" class="img-fluid">
        </section>
    </section>
</section>
<!-- beneficiary Section Ends -->