<% layout('/layouts/boilerplate.ejs') %>
<!-- Motivation Section -->
<section class="container" id="howtouse-section">
    <section class="row mt-5">
        <section class="col-md-5 mt-5">
            <h2 class="animate__animated animate__bounceInLeft">Motivation</h2>
            <ul class="animate__animated animate__bounceInRight">
                <li>Motivation to make this project came when we:-
                    Saw Visually Impaired people facing difficulty in accessing web
                </li>
                <li>No means of technology which is helping blind people to access information via website</li>
            </ul>
        </section>
        <section class="offset-md-2 col-md-5">
            <img src="/assests/motivation.jpg" alt="Motivation-image" class="img-fluid">
        </section>
    </section>
</section>
<!-- Motivation Section Ends -->