<% layout('/layouts/boilerplate.ejs') %>
<!-- Technology Section Starts -->
<section class="container" id="technology-section">
    <section class="row mt-5">
        <section class="col-md-5 mt-5">
            <h2 class="animate__animated animate__bounceInLeft">Technologies</h2>
            <ul class="animate__animated animate__bounceInRight">
                <li>JavaScript Es6<ol>
                        <li>
                            Speech Recognition Api
                        </li>
                    </ol>
                </li>
                <li class="animate__animated animate__bounceInLeft">Express Js<ol>
                        <li>Child Process</li>
                        <li>Ejs Mate</li>
                    </ol>
                </li>
                <li class="animate__animated animate__bounceInRight">Bootstrap</li>
                <li class="animate__animated animate__bounceInLeft">Python<ol>
                        <li>Web scraping with Beautifulsoup, Requests and Urllib</li>
                        <li>Text to speech using Gtts and Pyttsx3</li>
                        <li>Speech to text using Speech Recognition</li>
                        <li>Python packages like Re, Json and Glob</li>
                    </ol>
                </li>
            </ul>
        </section>
        <section class="offset-md-2 col-md-5 mt-5">
            <img src="/assests/technology.jpg" alt="aboutusimage" class="img-fluid">
        </section>
    </section>
</section>
<!-- Technology Section Ends -->